In [2]:
import pandas as pd

In [5]:
agebyseason_file="AgeViewBySeason.csv"
seasonal1519="WHO_NREVSS_Public_Health_Labs.csv"
seasonal1215="WHO_NREVSS_Combined_prior_to_2015_16.csv"



agebyseason_df=pd.read_csv(agebyseason_file)
season1519_df=pd.read_csv(seasonal1519)
season1215_df=pd.read_csv(seasonal1215)

In [32]:
sum_row = agebyseason_df.sum(axis=1)
agebyseason_df.tail(31)
#del agebyseason_df["A (H1)"]
#del agebyseason_df["A (Unable to Subtype)"]
agebyseason_df.head(31)

,Season,Age Group,A (H3),A (H1N1)pdm09,A (Subtyping not Performed),B (Victoria Lineage),B (Yamagata Lineage),B (Lineage Unspecified),H3N2v,Total
0,2019-20,0-4 yr,155,1966,62,1729,16,389,0,8634
1,2019-20,5-24 yr,394,4007,147,6419,54,1908,0,25858
2,2019-20,25-64 yr,403,8156,282,3395,61,889,0,26372
3,2019-20,65+ yr,493,3625,112,790,60,125,0,10410
4,2018-19,0-4 yr,1820,2859,224,193,37,175,0,10616
5,2018-19,5-24 yr,6525,5423,360,691,137,486,0,27244
6,2018-19,25-64 yr,4464,8744,519,296,154,171,0,28696
7,2018-19,65+ yr,4494,3573,191,59,106,29,0,16904
8,2017-18,0-4 yr,2175,781,34,192,578,183,0,7886
9,2017-18,5-24 yr,5985,1443,63,655,2692,947,2,23574
10,2017-18,25-64 yr,8983,2292,129,293,3444,879,1,32042
11,2017-18,65+ yr,11487,821,140,97,3460,539,0,33088
12,2016-17,0-4 yr,2100,140,17,336,347,143,29,6224
13,2016-17,5-24 yr,7919,196,57,1169,1546,663,24,23148
14,2016-17,25-64 yr,8130,378,75,542,1958,552,2,23274
15,2016-17,65+ yr,9728,160,83,191,1872,281,3,24636
16,2015-16,0-4 yr,309,1876,34,207,214,205,6,5702
17,2015-16,5-24 yr,1513,3419,72,765,943,948,11,15342
18,2015-16,25-64 yr,1080,6918,176,398,1341,728,0,21282
19,2015-16,65+ yr,852,1906,80,153,797,285,1,8148
20,2014-15,0-4 yr,3113,25,33,0,0,536,0,7414
21,2014-15,5-24 yr,9108,37,81,0,0,1846,2,22148
22,2014-15,25-64 yr,9154,89,108,0,0,2004,0,22710
23,2014-15,65+ yr,12852,12,119,0,0,1199,0,28364
24,2013-14,0-4 yr,322,2592,23,0,0,316,2,6510
25,2013-14,5-24 yr,959,5268,78,0,0,1062,1,14736
26,2013-14,25-64 yr,1196,11852,164,0,0,1426,0,29276
27,2013-14,65+ yr,1115,2468,58,0,0,672,0,8626
28,2012-13,0-4 yr,3364,261,21,0,0,1380,5,10062
29,2012-13,5-24 yr,7498,498,47,0,0,4107,14,24328
30,2012-13,25-64 yr,8747,876,106,0,0,2363,0,24184

In [30]:
agebyseason_df["Total"]=sum_row
season1920=agebyseason_df[0:4]
sum1920AH3=season1920["A (H3)"].sum()

1445

In [8]:
season1519_df.tail()

season1519_df.head()

                                                                                                           *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView.  Data presented from public health laboratories include the weekly total number of specimens tested, the number of positive influenza tests, and the number by influenza virus type, subtype, and influenza B lineage.
REGION TYPE REGION YEAR WEEK TOTAL SPECIMENS A (2009 H1N1) A (H3) A (Subtyping not Performed) B  BVic BYam                                              H3N2v
National    X      2015 40   1139            4             65     2                           10 0    1                                                     0
                        41   1152            5             41     2                           7  3    0                                                     0
                        42   1198            10            50     1                           8  3    2                                                     0
                        43   1244            9             31     4                           9  1    4                                                     0

In [33]:
agebyseason_json=agebyseason_df.to_json("Incidents:AgebySeason.json")