In [1]:
import pandas as pd

In [33]:
agebyseason_file="AgeViewBySeason.csv"
seasonal1519="WHO_NREVSS_Public_Health_Labs.csv"
seasonal1215="WHO_NREVSS_Combined_prior_to_2015_16.csv"



agebyseason_df=pd.read_csv(agebyseason_file)
season1519_df=pd.read_csv(seasonal1216)
season1215_df=pd.read_csv(seasonal1215)

In [19]:
agebyseason_df.tail(31)

,Season,Age Group,A (H1N1)pdm09,A (Subtyping not Performed),B (Victoria Lineage),B (Yamagata Lineage),B (Lineage Unspecified),H3N2v
1,2019-20,5-24 yr,4007,147,6419,54,1908,0
2,2019-20,25-64 yr,8156,282,3395,61,889,0
3,2019-20,65+ yr,3625,112,790,60,125,0
4,2018-19,0-4 yr,2859,224,193,37,175,0
5,2018-19,5-24 yr,5423,360,691,137,486,0
6,2018-19,25-64 yr,8744,519,296,154,171,0
7,2018-19,65+ yr,3573,191,59,106,29,0
8,2017-18,0-4 yr,781,34,192,578,183,0
9,2017-18,5-24 yr,1443,63,655,2692,947,2
10,2017-18,25-64 yr,2292,129,293,3444,879,1
11,2017-18,65+ yr,821,140,97,3460,539,0
12,2016-17,0-4 yr,140,17,336,347,143,29
13,2016-17,5-24 yr,196,57,1169,1546,663,24
14,2016-17,25-64 yr,378,75,542,1958,552,2
15,2016-17,65+ yr,160,83,191,1872,281,3
16,2015-16,0-4 yr,1876,34,207,214,205,6
17,2015-16,5-24 yr,3419,72,765,943,948,11
18,2015-16,25-64 yr,6918,176,398,1341,728,0
19,2015-16,65+ yr,1906,80,153,797,285,1
20,2014-15,0-4 yr,25,33,0,0,536,0
21,2014-15,5-24 yr,37,81,0,0,1846,2
22,2014-15,25-64 yr,89,108,0,0,2004,0
23,2014-15,65+ yr,12,119,0,0,1199,0
24,2013-14,0-4 yr,2592,23,0,0,316,2
25,2013-14,5-24 yr,5268,78,0,0,1062,1
26,2013-14,25-64 yr,11852,164,0,0,1426,0
27,2013-14,65+ yr,2468,58,0,0,672,0
28,2012-13,0-4 yr,261,21,0,0,1380,5
29,2012-13,5-24 yr,498,47,0,0,4107,14
30,2012-13,25-64 yr,876,106,0,0,2363,0
31,2012-13,65+ yr,95,228,0,0,1015,1

,Season,Age Group,A (H1N1)pdm09,A (Subtyping not Performed),B (Victoria Lineage),B (Yamagata Lineage),B (Lineage Unspecified),H3N2v
0,2019-20,0-4 yr,1966,62,1729,16,389,0
1,2019-20,5-24 yr,4007,147,6419,54,1908,0
2,2019-20,25-64 yr,8156,282,3395,61,889,0
3,2019-20,65+ yr,3625,112,790,60,125,0
4,2018-19,0-4 yr,2859,224,193,37,175,0
5,2018-19,5-24 yr,5423,360,691,137,486,0
6,2018-19,25-64 yr,8744,519,296,154,171,0
7,2018-19,65+ yr,3573,191,59,106,29,0
8,2017-18,0-4 yr,781,34,192,578,183,0
9,2017-18,5-24 yr,1443,63,655,2692,947,2
10,2017-18,25-64 yr,2292,129,293,3444,879,1
11,2017-18,65+ yr,821,140,97,3460,539,0
12,2016-17,0-4 yr,140,17,336,347,143,29
13,2016-17,5-24 yr,196,57,1169,1546,663,24
14,2016-17,25-64 yr,378,75,542,1958,552,2
15,2016-17,65+ yr,160,83,191,1872,281,3
16,2015-16,0-4 yr,1876,34,207,214,205,6
17,2015-16,5-24 yr,3419,72,765,943,948,11
18,2015-16,25-64 yr,6918,176,398,1341,728,0
19,2015-16,65+ yr,1906,80,153,797,285,1
20,2014-15,0-4 yr,25,33,0,0,536,0
21,2014-15,5-24 yr,37,81,0,0,1846,2
22,2014-15,25-64 yr,89,108,0,0,2004,0
23,2014-15,65+ yr,12,119,0,0,1199,0
24,2013-14,0-4 yr,2592,23,0,0,316,2
25,2013-14,5-24 yr,5268,78,0,0,1062,1
26,2013-14,25-64 yr,11852,164,0,0,1426,0
27,2013-14,65+ yr,2468,58,0,0,672,0
28,2012-13,0-4 yr,261,21,0,0,1380,5
29,2012-13,5-24 yr,498,47,0,0,4107,14
30,2012-13,25-64 yr,876,106,0,0,2363,0

In [36]:
season1519_df.tail()
season1215_df.head()

                                                                                                                                                *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView.  This data file includes only data prior to the 2015-16 influenza season, and will be presented with the public health and clinical labs combined.
REGION TYPE REGION YEAR WEEK TOTAL SPECIMENS PERCENT POSITIVE A (2009 H1N1) A (H1) A (H3) A (Subtyping not Performed) A (Unable to Subtype) B                                                H3N2v
National    X      2012 40   4513            3.78905          9             0      73     11                          0                     78                                                   0
                        41   4914            3.92755          7             0      67     24                          0                     95                                                   0
                        42   5249            5.81063          4             0      131    48                          0                     122                                                  0
                        43   5306            6.55861          3             0      152    52                          0                     141                                                  0